<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= form_with url: tweets_path, method: :get do |form| %>
  <%= form.text_field :query_text, value: params[:query_text] %>
  <%= form.submit %>
<% end %>


<div id="tweets">

  <% if @tweets.count > 0 %>

    <table class="table table-striped-columns">
    <tr>
      <td>Usuario</td>
      <td>Mensaje</td>
      <td>Ver este Tweet</td>
    </tr>
    <% @tweets.each do |tweet| %>
    <tr>
       <td> <%= tweet.userName %> </td>
       <td> <%= tweet.description %> </td>
       <td> <%= link_to "Show this tweet", tweet %> </td>
    </tr>
    <% end %>
    </table>

<%==pagy_bootstrap_nav(@pagy)%>

<% else %>
<h1>No existen coincidencias</h1>
<% end %>

</div>


<%= link_to "New tweet", new_tweet_path %>
